/* Hero Section CSS */

.hero-banner {
    background-repeat: no-repeat;
    position: relative;
    height: 600px;
}

.hero-banner .banner-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.hero-banner .page-center {
    height: 100%;
    position: relative;
}

.hero-banner .banner-content h1 {
    color: #fff;
}

.hero-banner .banner_img {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.hero-banner .banner_img:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
}

